body {
  background: rgb(56,145,144);
  background: linear-gradient(180deg, rgba(56,145,144,1) 5%, rgba(66,177,190,1) 17%, rgba(84,187,213,1) 34%, rgba(57,165,213,1) 50%, rgba(20,101,198,1) 69%, rgba(56,79,215,1) 83%, rgba(76,44,182,1) 92%);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .App-logo {
  height: 15vh;
} */

#AppContainer {
  margin: 2vh;
  padding: 2vh;
  background-color: rgb(254, 255, 254);
  height: 100%;
  text-align: center;
}

#nav {
  margin: .25vh;
}

.App-title {
  padding: 4vh;
  font-size: 4.5em;
  font-size-adjust: auto;
}

.App-intro {
  padding: 2vh;
}

#Logout {
  background-color: rgb(250, 97, 64);
  color: white;
}

.login-form {
  text-align: center;
}

footer {
  padding: 4vh;
  text-align: center;
}
